%div(ng-controller="WebsCtrl")
  %p
    %button(type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal" html="true")
      Test modal

